h1 {
    font-family: 'Merienda One', cursive;
}

button, div, form, input {
	margin: 10px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color: blueviolet;
    font-size: 30px;
    font-family: 'Merienda One', cursive;
}

.btn-default {
    color: blueviolet;
    font-size: medium;
    font-family: 'Merienda One', cursive;
}

body {
    color: blueviolet;
	background-image: url("https://s17.postimg.org/6dohn1a9r/starry_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merienda One', cursive;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}
